{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div id="content"></div>
	</div>
	<script type="text/javascript">
			var EntriesData = {{ stringify(entries) | safe }};
	</script>
  <script src="/js/build/PoemsApp.js"></script>
  {% if env==='debug' %}
    <script src="/js/build/PoemsApp.js.map"></script>
  {% endif %}
{% endblock %}


<!-- {% block script %} -->
	<!-- <script type="text/javascript">
		var data = {{ data }};
	</script> -->
<!-- {% endblock %} -->
