{% extends "layouts/default.html" %}

{% block content %}
	<div class="container post-page">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<article>
					<p>
						<a href="/">&larr; back to the poems</a>
					</p>
					<hr>
					{% if not data.post %}
						<h2>Invalid Post.</h2>
					{% else %}
						<header>
							<h1>{{ data.post.title }}</h1>
							<h5>Posted</h5>
							{% if data.post.publishedDate %}
								on {{ data.post._.publishedDate.format("MMMM Do, YYYY") }}
							{% endif %}
							{% if data.post.categories and data.post.categories.length %}
								in
								<!-- {% for cat in data.post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < data.post.categories.length %}, {% endif %}{% endfor %} -->
											{% endif %}
							{% if data.post.author %}
								by {{ data.post.author.name.first }}
							{% endif %}
						</header>
						<div class="post">
							{% if data.post.image.exists %}
								<div class="image-wrap">
									<img src="{{ data.post._.image.fit(750,450) }}" class="img-responsive">
								</div>
							{% endif %}
							{{ data.post.content.full|safe }}
						</div>
					{% endif %}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
