html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Bellefair', serif;
  margin: 0;
  background-color: @background-color;
}

#content {
  margin-top: @margin;
}

#header {
	// margin-top: 30px;
  @media (min-width: @media-breakpoint + 1) {
    top: @margin;
    position: fixed;
    z-index: 10;
    left: 50%;
    .translateX(-50%);
  }
  .navbar {
    // background-color: @navbar-color;
    // margin-top: @margin;
    border-radius: 0;
    .navbar-header {
      .navbar-brand {
        color: @navbar-color;
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
      }
    }
    .poetry-nav-collapse {
      @media (max-width: @media-breakpoint) {
        .transition(all ease-in-out .4s);
        display: block;
        height: 0px;
        opacity: 0;
        &.in {
          height: 150px;
          opacity: 1;
        }
      }

      .nav {
        li {
          a {
            color: @navbar-color;
          }
        }
      }
    }
  }
}

#body {
  @media (min-width: @media-breakpoint + 1) {
    padding-top: @navbar-height + @margin;
  }
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

article {
  margin-top: @margin;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

// .search {
//   width: 100%;
//   input {
//     box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
//     display: block;
//     margin: @margin auto;
//     width: @media-breakpoint-small;
//     border: none;
//     outline: none;
//     padding: 0 @margin;
//     @media-max-width-tmp:(@media-breakpoint-small + (@margin * 2));
//     @media (max-width: @media-max-width-tmp) {
//       width: 80% !important;
//     }
//   }
// }
.search {
  // margin: @margin auto;
  padding: 0 @margin;
  display: block !important;

  @media-max-width-tmp:(@media-breakpoint-small + (@margin * 2));
  @media (max-width: @media-max-width-tmp) {
    width: 80% !important;
  }

  width: @media-breakpoint-small !important;
  input {
    font-family: 'Raleway', sans-serif !important;
  }
}

.post-style() {
  font-family: 'Bellefair', serif !important;
  color: @text-color !important;
  @media (max-width: @media-breakpoint + 1) {
    font-size: @text-sm !important;
  }
  @media (min-width: @media-breakpoint) {
    font-size: @text-md !important;
  }
}

.entries {
  .entry {
    h2 {
      a {
        color: @header-color;
      }
    }
    .lead {
      .brief {
        p {
          .post-style();
          span {
            .post-style();
          }
        }
      }
    }
  }
}
.post-page {
  h1 {
    color: @header-color;
  }
  .post {
    p {
      .post-style();
      span {
        .post-style();
      }
    }
  }
}
