// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
// dimensions
@header-height: 55px;


// font sizes
@text-xs: 10px;
@text-sm: 15px;
@text-md: 20px;
@text-lg: 28px;

// margins

@margin: 15px;

// mixins
@media-breakpoint-small: 450px;
@media-breakpoint-small-plus-one: 451px;
@media-breakpoint: 768px;
@media-breakpoint-plus-one: 769px;
@media-breakpoint-large: 992px;

// colors
// @background-color: #f8f8f8;
@background-color: #171616;
@text-color: #fff;
@navbar-color: #464646;
@header-color: #ad9826;
// mixins
.translateY(@y) {
    -moz-transform: translateY(@y);
    -ms-transform: translateY(@y);
    -o-transform: translateY(@y);
    -webkit-transform: translateY(@y);
    transform: translateY(@y);
}

.translateX(@x) {
    -moz-transform: translateX(@x);
    -ms-transform: translateX(@x);
    -o-transform: translateX(@x);
    -webkit-transform: translateX(@x);
    transform: translateX(@x);
}

.translateXY(@x, @y) {
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    -webkit-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.box-shadow(@boxShadow) {
  -webkit-box-shadow: @boxShadow;
  -moz-box-shadow: @boxShadow;
  box-shadow: @boxShadow;
}

.transition(@tran) {
    -moz-transition: @tran;
    -o-transition: @tran;
    -webkit-transition: @tran;
    transition: @tran;
}
